body {
  --blue: #639cd9;
  background-color: var(--bg);
}

body.light {
  --bg: #ededed;
  --header: var(--blue);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #2a457d;
  --hr: hsla(0, 0%, 0%, 0.2);
  /* --inlineCode-bg: #000;
  --inlineCode-text: #aeefec; */
  --inlineCode-bg: #fff;
  --inlineCode-text: #24292e;
  --code-area-bg: #fff;
  --code-area-color: rgb(54, 49, 61);
  --line-highlight-bg: #fffbdd;
  --line-highlight-flag: var(--blue);
  --comment-color: #6a737d;
  --string-color: #032f62;
  --variable-color: #005cc5;
  --keyword-color: #d73a49;
  --classname-color: #6f42c1;
  --tag-color: #22863a;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282c35;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #dfdbe6;
  --textLink: var(--blue);
  --hr: hsla(0, 4%, 5%, 0.2);
  --inlineCode-bg: #1e1e1e;
  --inlineCode-text: #dfdbe6;
  --code-area-bg: var(--inlineCode-bg);
  --code-area-color: #d4d4d4;
  --line-highlight-bg: #add6ff26;
  --line-highlight-flag: var(--blue);
  --comment-color: #a19b8f;
  --string-color: #f1eadc;
  --variable-color: #77bff7;
  --keyword-color: #eb7e81;
  --classname-color: #bb97e7;
  --tag-color: #66b5f6;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*='language-'],
pre[class*='language-'] {
  color: var(--code-area-color);
  background: none;
  font-family: Fira Code, Consolas, Menlo, Monaco, source-code-pro, Courier New,
    monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.comment {
  color: var(--comment-color);
}

.token.string,
.token.url {
  color: var(--string-color);
}

.token.variable,
.token.number,
.token.builtin,
.token.char,
.token.constant,
.token.boolean {
  color: var(--variable-color);
}

.token.punctuation {
  color: var(--code-area-color);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.property,
.token.namespace,
.token.class-name,
.token.function,
.token.attr-name {
  color: var(--classname-color);
}

.token.tag {
  color: var(--tag-color);
}

.token.operator,
.token.keyword {
  color: var(--keyword-color);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: var(--line-highlight-bg);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid var(--line-highlight-flag);
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: var(--code-area-bg);
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}
